*{
    padding-left: 5px;
}

body {
    background: #D6EAF8;
}

.navegacion .titulo{
    text-align: center;
    font-style: italic;
    font-size: 2em;
    width: 30%;
    right: 50%;
    left: 58%;
    position: relative;
}

.navegacion ul{
    position: relative;
    margin: 0 auto;
    width: 940px;
    top: 0%;
}

.navegacion a{
    color: black;
    font-weight: bold;
    text-decoration: none;
    position: relative;
    top: 0%;
    left: 60%;
    text-transform: uppercase;
    margin: 0 auto;
    left: 60%;
    top: 5%;
}

.navegacion a:hover{
    color: #c78c19;
    text-decoration: underline;
}

.navegacion li{
    font-size: 22px;
    display: inline;    
}

.info{
    margin-bottom: 10%;
    padding-bottom: 15px;
}

.descripcion{
    font-size: 1.5em;
}

.listaTareasYGustos{
    position: relative;
    left: 10%;
    width: 30%;
}


.lista{
    font-size: 1.5em;
}

.imagen{
    height: 50%;
    width: 30%;
    border-radius: 50%;
    position: absolute;
    left: 60%;
}

.listaTareasYGustos .gustos{
    list-style-type: none;
    font-size: 1.4em;
}

.tarea{
    font-size: 1.4em;
}

table{
    border: black 2px solid;
    width: 100%;
}

caption{
    font-size: 2em;
    font-weight: bolder;
}

.dia, .hora{
    text-align: center;
}

.color{
    background-color: aquamarine;
}

th,td{
    width: 12%;
    border: black 2px solid;
    font-weight: bolder;

}

.cuerpo{
    text-align: left;
}

.form{
    width: 940px;
    margin: 0 auto;
}

form{
    margin: 40px 0;
}

form label{
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
}

.padron{
    display: block;
    margin-bottom: 10px;
    padding: 10px 25px;
    width: 50%;
}

.imagenForm{
    width: 20%;
    position: absolute;
    left: 70%;
    top: 170%;
}

.enviar{
    width: 40%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF;
    background: orange;
    border: none;
    border-radius: 20px;
    transition: 1s  all;
    cursor: pointer;
    margin-left: 5%;
}

.enviar:hover{
    background: darkorange;
    transform: scale(1.2);
}

